{% extends 'base.html' %}
{% block title %}Thank You{% endblock %}
{% block content %}
    {% with messages = get_flashed_messages(category_filter=["success"]) %}
        {% if messages %}
            {% for msg in messages %}
            <h1 class="display-1 text-center header mb-4"><a href="/" class="nav-link text-dark header">Thanks for completing this survey!</a></h1>
            {% for res in session["responses"] %}
                {% for (q,a) in res.items() %}
                    <p class="col-6 d-block mx-auto text-center lead">{{survey.questions[int(q) - 1].question}}</p>
                    <p class="col-6 d-block mx-auto text-center">{{a}}</p>
                {% endfor %}
            {% endfor%}
            {% endfor %}
        {% endif %}
    {% endwith %}
{% endblock %}
